.colored{background-color: #eeeeee;}
.colored2{background-color: #dedede;}
.flex{display: flex;}
.column{flex-direction: column;}
.grow{flex-grow: 1;}
.marg10{margin: 10px;}
.marg-right-20{margin-right: 20px;}
.pad10{padding: 10px;}
.pad15{padding: 15px;}
.marg-bot-5{margin-bottom: 5px;}
.marg-bot-10{margin-bottom: 10px;}
.pad10{padding: 10px;}
.w20{width: 20%;}
.w50{width: 50%;}
.circle{width: 40px;height: 40px;border-radius: 50px;}
.LoadingHeader .header{height: 100px;}
.LoadingHeader .body .item .content{margin-right: 0;}
.header{height: 70px}

