.MainContent{
  display: flex;
  flex-direction: row;
  background-color: aquamarine;
}
.MainContent div:first-child{
  flex-grow: 1;
}

.course-module-layout-section-grid{
  display: flex;
  flex-grow: 1;
  flex-wrap: wrap;
  // justify-content: space-between;
  @media screen and (max-width: 600px) {
    flex-direction: row;
  }
}