.course-modules-layout-activity-newactivities{

  margin-top: 10px;
  margin-bottom: 10px;
  padding-bottom: 0!important;
  flex-grow: 1;
  width: 100%;
  margin-right: 10px;
  display: flex;
  flex-direction: column;

  padding-right: 0 !important;
  padding-left: 0 !important;

  .title{
    font-size: 1.2em;
    font-weight: 500;
  }
  .subtitle{
    font-size: 1.1em;
    font-weight: 400
  }
  .nested{
    padding-left: 1em;
  }
  .list{
    width: 100%;
  }
  .activities{
    padding: 0;
  }
  .sectionContent{
    padding-right: 0 !important;
    padding-left: 0 !important;
  }
  .sectionLine{
    display:flex;
    align-items: center;
    padding-right: 0 !important;
    padding-left: 16px;
    flex-grow: 1;
  }
  .sectionLineText{
    flex-grow: 1;
    align-items: center;
  }
  .sectionLineAction{
    display: flex;
    align-items: center;
  }
  .sectionContentDetails{
    padding: 10px;
    padding-left: 16px;
  }
  .titlebox{
    flex-grow: 1;
    display: flex;
    flex-direction: column;
  }
  .center{
    align-self: center;
  }
  .sectionLineTextCalendar{
    flex-grow: 1;
    text-align: right;
  }
  .firstFullLine{
    display: flex;
    flex-grow: 1;
    padding: 0 0 0 16px;
    min-height: 40px;
    align-items: start;
  }
  .fullLine{
    display: flex;
    flex-grow: 1;
    padding: 16px 16px 0 16px;
    min-height: 40px;
    align-items: center;
  }
  .fullLineAction{
    display: flex;
    padding: 0;
  }
  .actions{
    display: flex;
    align-items: center;
  }
  .nopadding-right{
    padding-right: 0;
  }
  .sectionLineExpandind{
    padding-left: 0;
    background-color: rgba(0,0,0,0.03);
  }
  .padding-right{
    padding-right: 16px !important;
  }
  .fullRight{
    text-align: right;
    flex-direction: row;
    justify-content: flex-end;
    flex-grow: 1
  }
  .badgeActivity{
    padding: 1.1em;
  }


  .mediaLine{
    display: flex;
    flex-grow: 1;
    padding: 0;
    justify-content: center;
    margin-bottom: 16px;
    img{
      flex-grow: 1;
      width: 100%;
      height: 100%;
    }
  }
  
  .iconsLine{
    display: flex;
    justify-content: space-between;
    padding-right: 0;
  }
  
  .goToActivity{
    align-self: flex-end;
    padding: 0 !important;
    margin-bottom: 10px;
  }
  
  
  .groupTag{
    box-sizing: border-box;
    padding: 4px;
    background-color: #ccc;
    font-size: 0.9em;
    font-weight: 600;
  }
  
  .expanded .sectionLineExpanding{
    border-bottom: 1px solid #dddddd
  }
  
  .completion > span{
    padding-top: 0;
  }
  .child{
    // background-color: rgba($color: (#000000); $alpha: 0.03) !important;
    border-bottom: 1px solid #dddddd;
    max-width: 100%;
    &>*{
      font-size: 0.95em !important;
    }
  
  }

  .newactivities-title{
    padding: 0 10px 0 0;
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
    @media screen and (max-width: 600px) {
      padding: 0;
    }
  }

}
